*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

html {
  font-family: "Nunito", serif;
}

h1 {
  font-family: Quicksand, serif;
  font-size: 54px;
  font-weight: 700;
}

h2 {
  margin-bottom: 14px;
  font-family: Quicksand, serif;
  font-size: 26px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-family: Montserrat, serif;
  font-size: 18px;
  font-weight: 600;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.top-0 {
  top: 0px;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.m-7 {
  margin: 1.75rem;
}

.m-\[18px\] {
  margin: 18px;
}

.mx-\[24px\] {
  margin-left: 24px;
  margin-right: 24px;
}

.-mt-24 {
  margin-top: -6rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-\[141px\] {
  margin-bottom: 141px;
}

.mb-\[16px\] {
  margin-bottom: 16px;
}

.mb-\[24px\] {
  margin-bottom: 24px;
}

.mb-\[35px\] {
  margin-bottom: 35px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.ml-\[24px\] {
  margin-left: 24px;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[24px\] {
  margin-top: 24px;
}

.mt-\[31px\] {
  margin-top: 31px;
}

.mt-\[42px\] {
  margin-top: 42px;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-12 {
  height: 3rem;
}

.h-\[177px\] {
  height: 177px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[316\.3px\] {
  height: 316.3px;
}

.h-\[33px\] {
  height: 33px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[46px\] {
  height: 46px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[503\.74px\] {
  height: 503.74px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[71px\] {
  height: 71px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[843\.51px\] {
  height: 843.51px;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.w-\[1231px\] {
  width: 1231px;
}

.w-\[144px\] {
  width: 144px;
}

.w-\[148px\] {
  width: 148px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[180px\] {
  width: 180px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[290px\] {
  width: 290px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[321px\] {
  width: 321px;
}

.w-\[322px\] {
  width: 322px;
}

.w-\[36px\] {
  width: 36px;
}

.w-\[405px\] {
  width: 405px;
}

.w-\[530px\] {
  width: 530px;
}

.w-\[605px\] {
  width: 605px;
}

.w-\[84px\] {
  width: 84px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.flex-grow-\[2\.9\] {
  flex-grow: 2.9;
}

.flex-grow-\[4\.1\] {
  flex-grow: 4.1;
}

.-translate-x-3 {
  --tw-translate-x: -0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-4 {
  --tw-translate-x: -1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-5 {
  --tw-translate-y: -1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-full {
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-28 {
  --tw-translate-x: 7rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-4 {
  --tw-translate-x: 1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-48 {
  --tw-translate-x: 12rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-6 {
  --tw-translate-x: 1.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[14px\] {
  --tw-translate-x: 14px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[24px\] {
  --tw-translate-x: 24px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[290px\] {
  --tw-translate-x: 290px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[350px\] {
  --tw-translate-x: 350px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-1 {
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-2 {
  --tw-translate-y: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-3 {
  --tw-translate-y: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-4 {
  --tw-translate-y: 1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-5 {
  --tw-translate-y: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-72 {
  --tw-translate-y: 18rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-150 {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[21\.97px\] {
  gap: 21.97px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[33\.5px\] {
  gap: 33.5px;
}

.gap-\[37px\] {
  gap: 37px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[20\.16px\] {
  border-radius: 20.16px;
}

.rounded-\[24px\] {
  border-radius: 24px;
}

.rounded-\[27px\] {
  border-radius: 27px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border-2 {
  border-width: 2px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-\[\#D94A4A\] {
  --tw-border-opacity: 1;
  border-color: rgb(217 74 74 / var(--tw-border-opacity, 1));
}

.border-\[\#e5e5e5\] {
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#090B0E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(9 11 14 / var(--tw-bg-opacity, 1));
}

.bg-\[\#0f0f0f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(15 15 15 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1f1f1f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(31 31 31 / var(--tw-bg-opacity, 1));
}

.bg-\[\#373737\] {
  --tw-bg-opacity: 1;
  background-color: rgb(55 55 55 / var(--tw-bg-opacity, 1));
}

.bg-\[\#D94A4A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 74 74 / var(--tw-bg-opacity, 1));
}

.bg-mainColor-0 {
  --tw-bg-opacity: 1;
  background-color: rgb(217 74 74 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-\[20px\] {
  padding: 20px;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-\[103px\] {
  padding-left: 103px;
  padding-right: 103px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[42px\] {
  padding-left: 42px;
  padding-right: 42px;
}

.px-\[5px\] {
  padding-left: 5px;
  padding-right: 5px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pb-\[24px\] {
  padding-bottom: 24px;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-\[5px\] {
  padding-right: 5px;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[140px\] {
  padding-top: 140px;
}

.pt-\[200px\] {
  padding-top: 200px;
}

.pt-\[70px\] {
  padding-top: 70px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-mainfont {
  font-family: Quicksand, serif;
}

.font-secfont {
  font-family: Poppins, serif;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-\[33px\] {
  font-size: 33px;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.text-\[\#6f6f6f\] {
  --tw-text-opacity: 1;
  color: rgb(111 111 111 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1));
}

.text-mainColor-0 {
  --tw-text-opacity: 1;
  color: rgb(217 74 74 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.main-btn {
  height: 3rem;
  width: 217px;
  border-radius: 27px;
  --tw-bg-opacity: 1;
  background-color: rgb(217 74 74 / var(--tw-bg-opacity, 1));
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
  padding-right: 42px;
  font-family: Poppins, serif;
  font-size: 16px;
  font-weight: 600;
}

@media not all and (min-width: 425px) {
  .main-btn {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.card {
  overflow: hidden;
  border-radius: 17.57px;
  --tw-bg-opacity: 1;
  background-color: rgb(55 55 55 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.card:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(217 74 74 / var(--tw-bg-opacity, 1));
}

.cardimg {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.group:hover .cardimg {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.h1mini {
  font-family: Montserrat, serif;
}

@media not all and (min-width: 1280px) {
  .h1mini {
    font-size: 46px;
  }
}

@media not all and (min-width: 1024px) {
  .h1mini {
    margin-bottom: 24px;
    font-size: 41px;
  }
}

@media not all and (min-width: 425px) {
  .h1mini {
    font-size: 35px;
  }
}

@media not all and (min-width: 375px) {
  .h1mini {
    width: 290px;
    font-size: 28px;
  }
}

.sec-btn {
  position: absolute;
  bottom: 0px;
  margin-bottom: 24px;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-family: Poppins, serif;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(217 74 74 / var(--tw-text-opacity, 1));
  opacity: 0;
}

.group:hover .sec-btn {
  opacity: 1;
}

.small-btn {
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 8px;
  padding-right: 8px;
  font-family: Poppins, serif;
  font-size: 12px;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(217 74 74 / var(--tw-text-opacity, 1));
}

@media not all and (min-width: 375px) {
  .small-btn {
    display: none;
  }
}

.faqsect {
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(65 65 65 / var(--tw-border-opacity, 1));
  padding: 1.25rem;
}

.navdivadjuster {
  margin-bottom: 50px;
  padding-top: 90px;
}

@media not all and (min-width: 640px) {
  .navdivadjuster {
    padding-top: 30px;
  }
}

.h21024 {
  font-size: 26px;
}

@media not all and (min-width: 1280px) {
  .h21024 {
    font-size: 22px;
  }
}

@media not all and (min-width: 1024px) {
  .h21024 {
    font-size: 18px;
  }
}

.h41024 {
  font-size: 16px;
}

@media not all and (min-width: 1024px) {
  .h41024 {
    font-size: 12px;
  }
}

.featuresat425 {
  display: flex;
  height: 233px;
  width: 380px;
  overflow: hidden;
  border-radius: 11px;
  padding: 20px;
}

@media not all and (min-width: 425px) {
  .featuresat425 {
    width: 345px;
  }
}

@media not all and (min-width: 375px) {
  .featuresat425 {
    height: 8rem;
    width: 290px;
  }
}

.imgcontat425 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.modalbtn {
  margin-bottom: 1rem;
  min-height: 24px;
  width: 100%;
  border-radius: 0.75rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(191 191 191 / var(--tw-border-opacity, 1));
  background-color: transparent;
  padding: 0.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.invitebtn {
  height: 40px;
  width: 158px;
  border-radius: 0.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  background-color: transparent;
  padding: 0.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 375px) {
  .invitebtn {
    width: 210px;
  }
}

.hover\:filter-none:hover {
  filter: none;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media not all and (min-width: 1280px) {
  .max-xl\:mt-0 {
    margin-top: 0px;
  }

  .max-xl\:h-\[267px\] {
    height: 267px;
  }

  .max-xl\:h-\[274px\] {
    height: 274px;
  }

  .max-xl\:h-\[42px\] {
    height: 42px;
  }

  .max-xl\:h-\[436px\] {
    height: 436px;
  }

  .max-xl\:h-\[730px\] {
    height: 730px;
  }

  .max-xl\:w-\[250px\] {
    width: 250px;
  }

  .max-xl\:w-\[281px\] {
    width: 281px;
  }

  .max-xl\:w-\[341px\] {
    width: 341px;
  }

  .max-xl\:w-\[360px\] {
    width: 360px;
  }

  .max-xl\:w-\[442px\] {
    width: 442px;
  }

  .max-xl\:w-\[900px\] {
    width: 900px;
  }

  .max-xl\:-translate-x-2 {
    --tw-translate-x: -0.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xl\:-translate-y-14 {
    --tw-translate-y: -3.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xl\:translate-x-16 {
    --tw-translate-x: 4rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xl\:gap-\[19px\] {
    gap: 19px;
  }

  .max-xl\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .max-xl\:px-\[72px\] {
    padding-left: 72px;
    padding-right: 72px;
  }

  .max-xl\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .max-xl\:py-\[48px\] {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .max-xl\:text-\[24px\] {
    font-size: 24px;
  }
}

@media not all and (min-width: 1024px) {
  .max-lg\:mb-\[290px\] {
    margin-bottom: 290px;
  }

  .max-lg\:mb-\[42px\] {
    margin-bottom: 42px;
  }

  .max-lg\:hidden {
    display: none;
  }

  .max-lg\:h-\[196px\] {
    height: 196px;
  }

  .max-lg\:h-\[201px\] {
    height: 201px;
  }

  .max-lg\:h-\[211px\] {
    height: 211px;
  }

  .max-lg\:h-\[321px\] {
    height: 321px;
  }

  .max-lg\:h-\[350px\] {
    height: 350px;
  }

  .max-lg\:h-\[537px\] {
    height: 537px;
  }

  .max-lg\:w-\[160px\] {
    width: 160px;
  }

  .max-lg\:w-\[180px\] {
    width: 180px;
  }

  .max-lg\:w-\[205px\] {
    width: 205px;
  }

  .max-lg\:w-\[216px\] {
    width: 216px;
  }

  .max-lg\:w-\[265px\] {
    width: 265px;
  }

  .max-lg\:w-\[323px\] {
    width: 323px;
  }

  .max-lg\:w-\[490px\] {
    width: 490px;
  }

  .max-lg\:w-\[610px\] {
    width: 610px;
  }

  .max-lg\:-translate-y-10 {
    --tw-translate-y: -2.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-lg\:-translate-y-2 {
    --tw-translate-y: -0.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-lg\:-translate-y-6 {
    --tw-translate-y: -1.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-lg\:translate-x-20 {
    --tw-translate-x: 5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .max-lg\:px-\[44px\] {
    padding-left: 44px;
    padding-right: 44px;
  }
}

@media not all and (min-width: 768px) {
  .max-md\:w-\[390px\] {
    width: 390px;
  }

  .max-md\:text-\[18px\] {
    font-size: 18px;
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:absolute {
    position: absolute;
  }

  .max-sm\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .max-sm\:mb-\[17px\] {
    margin-bottom: 17px;
  }

  .max-sm\:mb-\[51px\] {
    margin-bottom: 51px;
  }

  .max-sm\:mb-\[550px\] {
    margin-bottom: 550px;
  }

  .max-sm\:mt-\[17px\] {
    margin-top: 17px;
  }

  .max-sm\:mt-\[200px\] {
    margin-top: 200px;
  }

  .max-sm\:mt-\[76px\] {
    margin-top: 76px;
  }

  .max-sm\:block {
    display: block;
  }

  .max-sm\:flex {
    display: flex;
  }

  .max-sm\:hidden {
    display: none;
  }

  .max-sm\:h-\[38px\] {
    height: 38px;
  }

  .max-sm\:w-\[150px\] {
    width: 150px;
  }

  .max-sm\:w-\[250px\] {
    width: 250px;
  }

  .max-sm\:w-\[270px\] {
    width: 270px;
  }

  .max-sm\:w-\[323px\] {
    width: 323px;
  }

  .max-sm\:w-\[380px\] {
    width: 380px;
  }

  .max-sm\:w-\[630px\] {
    width: 630px;
  }

  .max-sm\:translate-x-\[60px\] {
    --tw-translate-x: 60px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-sm\:translate-y-\[550px\] {
    --tw-translate-y: 550px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-sm\:flex-col {
    flex-direction: column;
  }

  .max-sm\:rounded-\[9px\] {
    border-radius: 9px;
  }

  .max-sm\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .max-sm\:py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .max-sm\:pl-\[10px\] {
    padding-left: 10px;
  }

  .max-sm\:pr-0 {
    padding-right: 0px;
  }

  .max-sm\:text-center {
    text-align: center;
  }

  .max-sm\:text-\[12px\] {
    font-size: 12px;
  }

  .max-sm\:text-\[17px\] {
    font-size: 17px;
  }

  .max-sm\:text-\[20px\] {
    font-size: 20px;
  }

  .max-sm\:text-\[29px\] {
    font-size: 29px;
  }

  .max-sm\:filter-none {
    filter: none;
  }
}

@media not all and (min-width: 425px) {
  .max-xs\:h-\[35\.11px\] {
    height: 35.11px;
  }

  .max-xs\:w-\[135px\] {
    width: 135px;
  }

  .max-xs\:w-\[180px\] {
    width: 180px;
  }

  .max-xs\:w-\[320px\] {
    width: 320px;
  }

  .max-xs\:w-\[345px\] {
    width: 345px;
  }

  .max-xs\:-translate-x-9 {
    --tw-translate-x: -2.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xs\:translate-x-\[12px\] {
    --tw-translate-x: 12px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xs\:translate-y-8 {
    --tw-translate-y: 2rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xs\:scale-110 {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xs\:scale-\[1\.20\] {
    --tw-scale-x: 1.20;
    --tw-scale-y: 1.20;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xs\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .max-xs\:px-\[28\.66px\] {
    padding-left: 28.66px;
    padding-right: 28.66px;
  }

  .max-xs\:pl-\[0px\] {
    padding-left: 0px;
  }

  .max-xs\:pr-0 {
    padding-right: 0px;
  }

  .max-xs\:text-left {
    text-align: left;
  }

  .max-xs\:text-\[12px\] {
    font-size: 12px;
  }

  .max-xs\:text-\[14px\] {
    font-size: 14px;
  }

  .max-xs\:text-\[16px\] {
    font-size: 16px;
  }

  .max-xs\:text-\[17px\] {
    font-size: 17px;
  }

  .max-xs\:text-\[27px\] {
    font-size: 27px;
  }

  .max-xs\:text-\[32px\] {
    font-size: 32px;
  }

  .max-xs\:text-\[48px\] {
    font-size: 48px;
  }
}

@media not all and (min-width: 375px) {
  .max-xxs\:mb-0 {
    margin-bottom: 0px;
  }

  .max-xxs\:hidden {
    display: none;
  }

  .max-xxs\:h-\[28px\] {
    height: 28px;
  }

  .max-xxs\:w-\[135px\] {
    width: 135px;
  }

  .max-xxs\:w-\[212px\] {
    width: 212px;
  }

  .max-xxs\:w-\[214px\] {
    width: 214px;
  }

  .max-xxs\:w-\[246px\] {
    width: 246px;
  }

  .max-xxs\:w-\[254px\] {
    width: 254px;
  }

  .max-xxs\:w-\[290px\] {
    width: 290px;
  }

  .max-xxs\:w-full {
    width: 100%;
  }

  .max-xxs\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xxs\:translate-y-\[500px\] {
    --tw-translate-y: 500px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xxs\:gap-\[10px\] {
    gap: 10px;
  }

  .max-xxs\:p-\[20px\] {
    padding: 20px;
  }

  .max-xxs\:px-\[23\.26px\] {
    padding-left: 23.26px;
    padding-right: 23.26px;
  }

  .max-xxs\:px-\[2px\] {
    padding-left: 2px;
    padding-right: 2px;
  }

  .max-xxs\:text-\[12px\] {
    font-size: 12px;
  }

  .max-xxs\:text-\[13px\] {
    font-size: 13px;
  }

  .max-xxs\:text-\[14px\] {
    font-size: 14px;
  }

  .max-xxs\:text-\[16px\] {
    font-size: 16px;
  }

  .max-xxs\:text-\[20px\] {
    font-size: 20px;
  }

  .max-xxs\:text-\[22px\] {
    font-size: 22px;
  }

  .max-xxs\:text-\[26px\] {
    font-size: 26px;
  }

  .max-xxs\:text-\[38px\] {
    font-size: 38px;
  }
}

@media (min-width: 375px) {
  .xxs\:w-\[340px\] {
    width: 340px;
  }
}

@media (min-width: 425px) {
  .xs\:w-\[380px\] {
    width: 380px;
  }

  .xs\:w-\[400px\] {
    width: 400px;
  }

  .xs\:w-\[450px\] {
    width: 450px;
  }

  .xs\:w-\[405px\] {
    width: 405px;
  }
}

@media (min-width: 640px) {
  .sm\:w-\[540px\] {
    width: 540px;
  }

  .sm\:w-\[380px\] {
    width: 380px;
  }
}

@media (min-width: 760px) {
  .exmd\:translate-x-\[370px\] {
    --tw-translate-x: 370px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 768px) {
  .md\:w-\[585px\] {
    width: 585px;
  }

  .md\:w-\[695px\] {
    width: 695px;
  }
}

@media (min-width: 1024px) {
  .lg\:mb-\[18px\] {
    margin-bottom: 18px;
  }

  .lg\:mb-\[57px\] {
    margin-bottom: 57px;
  }

  .lg\:mb-\[84px\] {
    margin-bottom: 84px;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[350px\] {
    height: 350px;
  }

  .lg\:w-\[900px\] {
    width: 900px;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:gap-\[30px\] {
    gap: 30px;
  }

  .lg\:p-\[46px\] {
    padding: 46px;
  }

  .group:hover .lg\:group-hover\:block {
    display: block;
  }

  .group:hover .lg\:group-hover\:translate-x-\[450px\] {
    --tw-translate-x: 450px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 1280px) {
  .xl\:mb-\[25px\] {
    margin-bottom: 25px;
  }

  .xl\:mb-\[65px\] {
    margin-bottom: 65px;
  }

  .xl\:block {
    display: block;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:h-\[399px\] {
    height: 399px;
  }

  .xl\:w-\[1231px\] {
    width: 1231px;
  }

  .xl\:w-\[1244px\] {
    width: 1244px;
  }

  .xl\:w-\[650px\] {
    width: 650px;
  }

  .xl\:w-full {
    width: 100%;
  }

  .xl\:justify-center {
    justify-content: center;
  }

  .xl\:gap-\[150px\] {
    gap: 150px;
  }

  .group:hover .xl\:group-hover\:translate-x-\[795px\] {
    --tw-translate-x: 795px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}
